body {
    background-color: lightgray;
}
ul.first {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: visible;
    background-color: white;
    justify-content: flex-end;
}

li a:hover {
    background-color: black;

}
.everything {
    border: 1px rgb(57, 44, 234) solid;
    padding: 10px;
}
.about {
    flex: 2;
    width: 30%;
    display: flexbox;
    flex-direction: column;
    column-width: 50px;
    border: 1;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
}
.work {
    flex: 2;
    width: 30%;
    display: flexbox;
    flex-direction: column;
    column-width: 50px;
    border: 1;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
}
.contact {
    flex:2;
    width: 30%;
    display: flexbox;
    flex-direction: column;
    column-width: 50px;
    border: 1;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align:center;
}
p {
    position:relative;
    left: 20px;
    text-align:center; vertical-align:center;
}