body {
    background-color: lightgray;
}
/* smooth scroll */
html {
    scroll-behavior: smooth;
}

ul {
    display:flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: visible;
    justify-content: flex-end;
}
a:link {
    text-decoration: none;
    padding-right: 10px;
}

li:hover {
    color: white;

}
.everything {
    border: 1px rgb(57, 44, 234) solid;
    padding: 10px;
    width: 100%;
}

.about {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
#image-me {
    height: 200px;
    width: 200px;
}

.My-Work {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
/* future projects location */
.feature {
    background-color: pink;
    height: 300px;
    width: 100%;
}
.proj-1 {
    background-color: green;
    height: 300px;
    width: 300px;
}
.proj-2{
    background-color: orange;
    height: 300px;
    width: 300px;
}
.proj-3 {
    background-color: blue;
    height: 300px;
    width: 300px;
}
/* Contact me */
.Contact-Me {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}
.Contact {
    margin-bottom: -25px;
}